body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;

    background-color: #a787a1;
    color: black;
}

h1{
    color: white;
}

img {
    max-width: 80vw;
}

.joke {
    display: inline-block;
    margin: 0;   

    width: 80%;
}

.bayan {
    max-width: 75%;

    margin: 0 auto;
}

.bayan-input {
    display: none;
}

.title {
    display: grid;
    grid-template-columns: 1fr 1em;

    cursor: pointer;

    padding: 2rem 0;
}


.bayan-element {
    margin: 0;
    
    border-top: 0.05vh solid rgb(11, 11, 11);
}


.bayan-input:checked~.wrapper {
    display: block;
}

.img-joke {
    height: 0;
    margin: 0 auto;

    opacity: 0;

    transition-duration: 1s;
}

.bayan-element:hover>.title>.img-joke,
.bayan-input:checked+.title>.img-joke {
    height: 40vw;
    width: auto;

    padding-top: 1rem;

    opacity: 1;
}

.icon {
    transition: 0.5s;
}

.bayan:hover .icon {
    opacity: 1;
}

.bayan-input:checked+.title>.icon {
    transform: rotate(45deg);
    transition: 0.7s;
}

